.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:150px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: orange;

}

.tab-pane .tab:selected
{
    -fx-background-color:  #f48e27;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: Black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: Black;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.5em 0.2em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}
.tab-pane:bottom *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.5em 0.2em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}
.tab-pane:left *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.5em 0.2em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}.tab-pane:right *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.5em 0.2em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}